html, body {
    height: 100%;
    font-family: 'Karla', sans-serif;
}

.history-body {
	padding-bottom: 1000px;
    margin-bottom: -1000px;
    height: 100%;
}

.history-body h3 {
	margin: 0;
	padding-left: 10px;
	padding-top: 10px;
}

.cell-design {
	float: left;
	width: 25%;
	height: 175px;
	font-size: 100px;
	border: 3px solid #f7f7f7;
	text-align: center;
	margin: 0.5px;
}

#board {
	width: 100%;
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
}
