html, body {
    height: 100%;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    height: 100%;
    background-color: #8ECFAA;
}

/* index.html*/

body#background {
  background-color: #8ECFAA;
  background: url('../images/background.png');
  letter-spacing: 1.5px;
}

#background {
	text-align: center;
	color: #fff;
	padding-top: 3%;
}

#background h1 {
	font-size: 4em;
	margin-top: 0;
}

.btn-play {
	background-color: #F2DC5D;
	color: #000;
	font-size: 1.5em;
	letter-spacing: 1.5px;
	border-radius: 10px;
}

.how-it-works h1 {
	font-size: 3em;
}

.how-it-works h4 {
	text-align: left;
}

/* ganme.html*/

.game-body {
	color: #fff;
	text-align: left;
}

.cell-default {
	
	height: 175px;
	font-size: 100px;
	background-color: #fff;
	border: 10px solid #e0eaf6;
	text-align: center;
	color: #000;
}

.alert
{
    font-size: 1.3em;
    padding: 1em;
    text-align: center;
    white-space: nowrap;
    width: auto;
    word-wrap: normal;
}

.history-body {
	margin-top: 5%;
	background: url('../images/background.png');

}

.history-display {
	height: 300px;
} 